@import "./UI/Styles/Btn.scss";
@import "./Vars.scss";

html {
  width: 100%;
  height: 100%;
  font-weight: 400;
  overflow-y: overlay;
}

body {
  min-height: 100%;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;

  &-thumb {
    background: $color-3;
    border-radius: 0.4rem;
    height: 20px;
  }
}

* {
  font-family: SSP1;
  cursor: default;
  margin: 0;
  padding: 0;
  margin: none;
  border: none;
  padding: none;
  outline: none;
  background: none;
  color: white;
  box-sizing: border-box;
}

a {
  color: black;

  &:active {
    color: black;
  }
}

button {
  cursor: pointer;
}

.App {
  &-Main {
    width: 100%;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
  }

  &-Background {
    background-color: $bgColor;
    position: fixed;
    z-index: -4;
    height: 100%;
    width: 100%;
  }

  &-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.Link {
  text-decoration: none;
  color: white;

  &:hover {
    color: white;
  }
}

.Icon {
  cursor: pointer;
  svg {
    color: black;
    cursor: pointer;
  }
  path {
    color: black;
    cursor: pointer;
  }
}

@font-face {
  font-family: "Frag";
  src: url("fonts/FragmentMono-Regular.ttf");
}
@font-face {
  font-family: "Marck";
  src: url("fonts/MarckScript-Regular.ttf");
}
@font-face {
  font-family: "SSP111";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-Black.ttf");
}
@font-face {
  font-family: "SSP11";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
}
@font-face {
  font-family: "SSP1";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
}
@font-face {
  font-family: "SSP";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "SSP0";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
}
@font-face {
  font-family: "SSP00";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf");
}
@font-face {
  font-family: "SSP00";
  src: url("fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf");
}
