$upperBreak: 1150px;
$lowerBreak: 767px;
$bgColor: rgba(32, 32, 32, 1);
$color-1: rgb(185, 126, 67);
$color-2: rgb(77, 52, 35);
$color-3: rgb(166, 123, 91);
$color-4: rgb(107, 76, 55);
$color-5: rgb(211, 163, 116);
$color-1-tran: rgba(185, 126, 67, 0.8);
$color-2-tran: rgba(77, 52, 35, 0.8);
$color-3-tran: rgba(166, 123, 91, 0.8);
$color-4-tran: rgb(107, 76, 55, 0.8);
$color-5-tran: rgba(211, 163, 116, 0.8);

@mixin Section {
  width: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $lowerBreak) and (max-width: $upperBreak) {
    width: 40rem;
  }
  @media (max-width: $lowerBreak) {
    width: 100%;
    padding: 0 1rem;
  }
}
