@import '../../../../App.scss';

.CreateProduct {
  width: 40rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Categories {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 0 -0.5rem;
    width: 25rem;
    background-color: rgba(30, 30, 30, 1);
    color: white;

    .Category {
      height: 2rem;
      border-bottom: rgba(200, 200, 200, 0.5) 0.05rem solid;

      &:hover {
        background-color: rgba(60, 60, 60, 1);
      }
    }
  }

  .Row {
    margin: 0.4rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    label {
      width: 7rem;
    }

    .Btn {
      width: 2.3rem;
    }

    .Icon {
      color: black;
      svg {
        color: black;
      }
      path {
        color: black;
      }
    }

    .MainInput {
      width: 25rem;
      padding: 0 0 0 0.5rem;
      border-radius: 0.2rem;
      height: 2.2rem;
      color: black;
      background-color: white;
    }

    .MultiInputWidget {
      display: flex;
      flex-direction: column;
      width: 28rem;

      .SingleRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0 0 0.6rem 0;

        .Btn {
          background-color: red;
        }

        .Inputs {
          width: 25rem;
          display: flex;
          justify-content: space-between;

          .KeyInput {
            width: 6rem;
            padding: 0 0 0 0.5rem;
            border-radius: 0.2rem;
            height: 2.2rem;
            color: black;
            background-color: white;
          }
          .ValueInput {
            width: 17rem;
            padding: 0 0 0 0.5rem;
            border-radius: 0.2rem;
            height: 2.2rem;
            color: black;
            background-color: white;
          }
        }

        .AboutInput {
          width: 25rem;
          padding: 0 0 0 0.5rem;
          border-radius: 0.2rem;
          height: 2.2rem;
          color: black;
          background-color: white;
        }
      }
    }

    .ExtraImagesBox {
      display: flex;
      flex-direction: column;
      width: 25rem;
      margin-bottom: 0.8rem;

      .ExtraImage {
        display: flex;
        align-items: center;
        margin-top: 0.2rem;
        .Icon {
          color: red;
          cursor: pointer;
          margin-right: 0.4rem;
          svg {
            cursor: pointer;
          }
          path {
            cursor: pointer;
          }
        }
      }
    }
  }
}
