.ViewOrders {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-top: 5rem;
  }

  .Orders {
    margin-top: 2.5rem;
    width: 70rem;
    display: flex;
    flex-direction: column;
  }

  .TableTop {
    margin-right: 2rem;
    margin-bottom: 0.3rem;
    width: 18.8rem;
    align-self: end;
    display: flex;
    justify-content: space-between;

    button {
      min-width: 4rem;
      padding: 0.2rem 0.5rem;
      border-radius: 0.4rem;
      border: solid 1px grey;
      cursor: pointer;
    }

    .highlight {
      background-color: rgb(45, 45, 45);
    }
  }

  .table {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    border: solid 1px grey;

    .item {
      width: 100%;
      height: 2.2rem;
      padding: 0 2rem;
      border-bottom: solid 1px grey;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgb(29, 29, 29);
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .name {
        width: 10rem;
      }

      .amount {
        width: 5rem;
      }

      .paid {
        width: 5rem;
      }

      .date {
        width: 14rem;
      }

      .status {
        margin-left: auto;
        position: relative;
        cursor: pointer;
        width: 4rem;
        z-index: 2;

        label {
          cursor: pointer;
          width: 4rem;
          padding: 0.1rem 0.4rem;
          border: solid 1px grey;
          border-radius: 0.8rem;
          background-color: none;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 2;
        }

        input {
          display: none;
          &:checked ~ ul.drop {
            display: block;
          }
        }

        .drop {
          display: none;
          position: absolute;
          background-color: black;
          width: 6rem;
          right: 0%;
          top: 100%;

          li {
            display: flex;
            align-items: center;
            justify-content: start;
            text-decoration: none;
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover {
              background-color: rgb(51, 51, 51);
            }
          }
        }
      }
    }
  }
}

.orderModal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  z-index: 99;

  .modal {
    position: absolute;
    margin: 5rem auto 0 20rem;
    width: 70rem;
    height: 50rem;
    padding: 2rem;
    color: rgb(236, 236, 236);
    background-color: rgb(31, 31, 31);
    border: solid 0.2rem rgb(116, 75, 1);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;

    h2 {
      margin-top: 0;
    }

    .tabRow {
      margin-top: 1.5rem;
      width: 17rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        padding: 0.2rem 0.8rem;
        border-top: solid 1px grey;
        border-left: solid 1px grey;
        border-right: solid 1px grey;
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
      }
    }

    .packingList {
      width: 40rem;
      height: 40rem;
      border: solid 1px grey;

      .topLine {
        width: 100%;
        display: flex;
        position: relative;
        border-bottom: 1px grey solid;

        p {
          color: rgb(134, 134, 134);
        }
      }

      p {
        text-align: center;
      }

      .item {
        width: 100%;
        display: flex;
        border-bottom: 1px grey solid;
      }
      .name {
        width: 40%;
      }

      .id {
        width: 40%;
      }

      .VLine {
        position: absolute;
        height: 39.8rem;
        width: 1px;
        background-color: grey;
        z-index: 101;
      }

      .quantity {
        width: 20%;
      }
    }
  }
}
