@import '../../../../App.scss';

.ViewProducts {
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;

  h1 {
    margin-top: 2rem;
  }

  .topLine {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      background-color: white;
      color: black;
      width: 7rem;
      height: 2rem;
      padding: 0.2rem;
    }
  }

  .filter {
    border: solid 1px grey;
    background-color: none;
    padding: 0.1rem 0.4rem;
    position: relative;

    &:hover {
      .drop {
        display: block;
      }
    }

    .drop {
      display: none;
      position: absolute;
      background-color: black;
      width: 16rem;
      left: 0%;

      li {
        display: flex;
        align-items: center;
        justify-content: start;
        text-decoration: none;
        padding: 0.5rem 1rem;
        cursor: pointer;

        &:hover {
          background-color: rgb(51, 51, 51);
        }
      }
    }
  }

  .create {
    margin-top: 2rem;
    margin-bottom: 0.2rem;
  }

  .Product {
    width: 100%;
    margin: 0.1rem 0;
    display: flex;
    height: 8rem;
    border: solid 0.1rem rgba(100, 100, 100, 1);
    justify-content: start;
    border-radius: 0.2rem;
    overflow: hidden;

    img {
      width: 13rem;
      height: 100%;
      object-fit: cover;
    }

    .Info {
      margin-left: 0.3rem;
      display: flex;
      flex-direction: column;
    }

    .Btns {
      margin-left: auto;
      display: flex;
      height: 100%;
      width: 7rem;
      align-items: center;
      justify-content: space-between;

      .Btn-2 {
        color: black;
        path {
          cursor: pointer;
          color: black;
        }
        svg {
          cursor: pointer;
        }
      }
    }
  }
}
