@import '../../../../App.scss';

.ViewProducts {
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;

  .Product {
    width: 100%;
    margin: 0.1rem 0;
    display: flex;
    height: 8rem;
    border: solid 0.1rem rgba(100, 100, 100, 1);
    justify-content: start;
    border-radius: 0.2rem;
    overflow: hidden;

    img {
      width: 13rem;
      height: 100%;
      object-fit: cover;
    }

    .Info {
      margin-left: 0.3rem;
      display: flex;
      flex-direction: column;
    }

    .Btns {
      margin-left: auto;
      display: flex;
      height: 100%;
      width: 7rem;
      align-items: center;
      justify-content: space-between;

      .Btn-2 {
        color: black;
        path {
          cursor: pointer;
          color: black;
        }
        svg {
          cursor: pointer;
        }
      }
    }
  }
}
