@import '../../../App.scss';

.SingleProduct {
  @include Section;
  margin: 2rem 0;

  .HLine {
    width: 90%;
    border-bottom: 0.05rem solid rgba(150, 150, 150, 0.9);
    margin: 0.4rem 0;
  }

  .Top {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .Left {
      width: 49%;
      display: flex;
      flex-direction: space-between;
      margin-right: 1%;

      .Images {
        display: flex;
        flex-direction: column;
        width: 9%;
        margin-right: 3%;

        .Img {
          width: 100%;
          height: 2.3rem;
          object-fit: cover;
          margin-top: 0.4rem;
        }
      }

      .CurrImage {
        height: 30rem;
        width: 88%;
        object-fit: cover;
        border-radius: 1.5rem;
      }
    }

    .Right {
      width: 49%;
      margin-left: 1%;
      display: flex;
      justify-content: space-between;

      .PriceLine {
        display: flex;
        margin-top: 0.7rem;

        .DollarSign {
          font-size: 0.7rem;
          margin-right: 0.1rem;
        }

        .Dollars {
          font-size: 1.5rem;
          line-height: 1.6rem;
          margin-right: 0.1rem;
        }

        .Cents {
          font-size: 0.7rem;
        }
      }

      .Dot {
        width: 0.65rem;
        height: 0.65rem;
        background-color: white;
        border-radius: 1rem;
        margin-top: 0.4rem;
        margin-right: 0.4rem;
      }

      .Info {
        width: 60%;
        display: flex;
        flex-direction: column;

        .Title {
        }

        .DetailLine {
          width: 90%;
          display: flex;

          .Key {
            margin-right: 7.5rem;
          }

          .Value {
          }
        }

        .AboutTitle {
          font-size: 1.2rem;
          margin: 0.4rem 0;
        }

        .AboutLine {
          width: 100%;
          display: flex;

          .About {
            font-size: 0.9rem;
          }
        }
      }

      .Purchase {
        width: 40%;
        display: flex;
        flex-direction: column;
        border-radius: 0.8rem;
        border: solid 0.05rem rgba(150, 150, 150, 0.6);
        padding: 0.5rem 1rem;

        .Icon {
          margin: 0.1rem 0 0 0.3rem;

          path {
            color: white;
          }
        }

        .DeliveryDetails {
          margin: 0.3rem 0;
          font-size: 0.8rem;
        }

        .AddressLine {
          display: flex;
          margin: 0.3rem 0;

          .Dot {
            margin-top: 0.3rem;
          }

          .Address {
            font-size: 0.8rem;
          }
        }

        .Stock {
          margin: 0.3rem 0;
          color: rgb(44, 219, 0);
          font-size: 0.8rem;
        }

        .QuantityLine {
          display: flex;

          .Label {
            font-size: 0.8rem;
            margin-right: 0.5rem;
          }

          .QuantitySelector {
            width: 2.3rem;
            height: 1.3rem;
            font-size: 0.7rem;
            border: solid 0.05rem rgba(175, 175, 175, 1);
            border-radius: 0.2rem;
            display: flex;
            padding: 0.05rem 0 0 0.4rem;

            .Quantity {
            }
          }
        }

        .Add {
          margin-top: 1rem;
          width: 100%;
          border-radius: 3rem;
          background-color: rgb(170, 161, 102);
        }

        .Buy {
          margin-top: 0.3rem;
          width: 100%;
          border-radius: 3rem;
          background-color: rgb(133, 98, 0);
        }

        .MerchantDetails {
          margin-top: 1.1rem;
          font-size: 0.7rem;
          display: flex;
          flex-wrap: wrap;

          .BlueText {
            margin: 0 0.2rem;
            color: cyan;
          }
        }

        .WishlistBox {
          margin: 1rem 0 0 0;
          display: flex;
          justify-content: space-between;
          padding: 0 0.7rem;
          border: solid 0.05rem rgb(225, 225, 225);
          border-radius: 0.05rem;
        }
      }
    }
  }
}
