// @import '../../../../App.scss';

.UpdateCategories {
  width: 100%;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Btn-1 {
    margin: 4rem 0 2rem 0;
  }

  .CategoriesView {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.4rem 0 1.5rem 0;

    .CategoryGroup {
      margin: 0 0.2rem 0.4rem 0.2rem;
      width: 18rem;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem rgb(200, 200, 200);

      .Icon {
        cursor: pointer;
        margin-right: 0.5rem;

        svg {
          cursor: pointer;
        }
        path {
          cursor: pointer;
        }
      }
      .Buttons {
        display: flex;
        margin-left: auto;
      }

      img {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
      }

      .Category {
        width: 100%;
        min-height: 1.5rem;
        display: flex;
        justify-content: start;
        align-items: center;

        p {
          margin-left: 0.5rem;
        }
      }
      .ChildCategories {
        display: flex;
        flex-direction: column;

        .ChildCategory {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: solid 0.1rem rgba(100, 100, 100, 0.6);

          p {
            margin-left: 2rem;
          }
        }
      }
    }
  }
}
