// @import '../../../../App.scss';

.UpdateCategories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Btn-1 {
    margin: 1rem 0;
  }

  .CategoriesView {
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.4rem 0 1.5rem 0;

    .CategoryGroup {
      display: flex;
      flex-direction: column;
      border: solid 0.1rem rgb(200, 200, 200);

      .Icon {
        cursor: pointer;
        margin-right: 0.5rem;

        svg {
          cursor: pointer;
        }
        path {
          cursor: pointer;
        }
      }
      .Buttons {
        display: flex;
      }
      .Category {
        width: 100%;
        min-height: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin-left: 0.5rem;
        }
      }
      .ChildCategories {
        display: flex;
        flex-direction: column;

        .ChildCategory {
          display: flex;
          justify-content: space-between;
          border-top: solid 0.1rem rgba(100, 100, 100, 0.6);

          p {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
